@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@800&family=Libre+Franklin:ital,wght@1,900&family=Montserrat:ital@1&family=Oxygen:wght@300&family=Vollkorn:ital,wght@1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));


@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.173 0 89.876);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
::selection {
  background: #212121;   /* indigo‑600 */
  color: #ffffff;        /* white text */
}
@font-face {
font-family: 'CircularFont';
src: url('./assets/Fonts/Circular/circular-std-medium-500.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}

.CircularFont{
  font-family: CircularFont, sans-serif;

}
.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  color: white;
  font-size: 12px;
  padding: 4px;
  margin-left: 15px;
  transform: translateY(-50%);
}

/* Add an arrow */
.tooltip:after {
  content: "";
  position:absolute;
  border-width: 5px;  /* Arrow width */
  left: -10px;  /* Arrow width * 2 */
  top:50%;
  transform:translateY(-50%);
  border-color: transparent black transparent transparent;
}
.bg-image{
  background: url("./assets/BACKGROUND-IMAGE.svg") center;
  background-size: cover;

}

.Kerif{
  font-family: Kanit, serif;

}
/* Styles for screens 800px and wider */

@media (width <= 1010px) {

  .responsive {

    position: absolute;
    top: 10px;

    left: 0px;
    right: 0px;
  }
  .responsive-bottom {

    position: absolute;
    top: -100px;

    left: 0px;
  }.responsive-top{
       position: absolute;
       top: 10px;
  left: -100px;


     }
  .responsive-box{
    height: 300px;
  }
}
@media (width <= 1210px) {
  .responsive {

    position: absolute;
    top: 10px;

    left: 0px;
  }
  .responsive-bottom {

    position: absolute;
    top: -90px;

    left: 0px;
  }.responsive-top{
     position: absolute;
     top: 10px;
     left: -100px;


   }
   .parent-box{
     scale: 0.8;
   }
  .responsive-box{
    height: 250px;
    top: -100px;
  }
}

@media (width <= 910px) {

  .responsive-box{
    height: 250px;
    top: -10px;
  }
  .parent-box{
    scale: 0.7;
  }
}





.orb-red {



  border-radius: 50%;
  box-shadow:
  inset 0 0 50px #fff,
  inset 920px 0 350px #ff6262,
  inset -20px 0 60px #df6d6d,
  inset 20px 0 300px #ff6262,
  inset -20px 0 300px #df6d6d,
  0 0 0px #fff,
  -10px 0 150px #ff6262,
  10px 0 60px #df6d6d;
}

.orb-blue {


  border-radius: 50%;
  box-shadow:
          inset 0 0 50px #fff,
          inset 200px 0 350px #5dade2,       /* light blue */
          inset -20px 0 60px #3498db,     /* medium blue */
          inset 20px 0 300px #5dade2,
          inset -20px 0 300px #3498db,
          0 0 30px #fff,
          -10px 0 150px #5dade2,
          10px 0 60px #3498db;
}

.orb-yellow {


  border-radius: 50%;
  box-shadow:
          inset 0 0 50px #fff,
          inset 20px 0 60px #f7dc6f,       /* light yellow */
          inset -20px 0 60px #f1c40f,     /* medium yellow */
          inset 20px 0 300px #f7dc6f,
          inset -20px 0 300px #f1c40f,
          0 0 50px #fff,
          -10px 0 60px #f7dc6f,
          10px 0 60px #f1c40f;
}
